﻿@model MyTestApp.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <style>
        
    </style>
    <div class="wrapper-box" style="padding:15px">
        <div class="row">
            <div class="col-md-4">                
                <div class="form-group">
                    <span style="width:100px; display:inline-block">X Number </span>
                    @Html.TextBoxFor(m => m.Xnumber, new { @classx = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <span style="width:100px; display:inline-block">Nth Number</span> 
                    @Html.TextBoxFor(m => m.NthNumber, new { @classx = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            </div>
        </div>
    </div>
}
